{{>header}}
<div class="panel">
    <img class="panel__avatar"
        src="http://icons.iconarchive.com/icons/jonathan-rey/simpsons/256/Bart-Simpson-01-icon.png" alt="avatar" />
    <form action="/users/changepassword" method="post" class="inputs">
        <div class="inputs__item">
            <label for="previous-password" class="inputs__label">Current password</label>
            <input type="password" name='password' class="inputs__input" id="previous-password" required />
        </div>
        <div class="inputs__item inputs__item--new">
            <label for="new-password" class="inputs__label">New password</label>
            <input type="password" name='new_password' class="inputs__input" id="new-password" required />
        </div>
        <div class="inputs__item inputs__item--cta">
            <input type="submit" class="btnvai" value="RESET" />
        </div>
        {{#if message}}
        <div class='error'> {{message.err_msg}}</div>

        {{/if}}

    </form>
</div>