{{>header}}


<form action='/taskboard/create' method='post' class="dai">
    <h1 class='mama'>Add your task here</h1>
    <input class='uncle' name='description' placeholder="Description" type="text" required="">
    <div class='arko'>
        <input type="checkbox" id="check" name="completed" value="true" />
        <label class='check' for="check">
            Completed Status
        </label>
    </div>
    <button class='daju'>Submit</button>
</form>